<div class="m-3">
  <h1>Restaurant list:</h1>
  <ul class="list-group">
    <% @restaurants.each do |restaurant| %>
      <li class="list-group-item"><%= link_to restaurant.name, restaurant_path(restaurant.id) %> Reviews: <%= restaurant.reviews.count %></li>
    <% end %>
  </ul>
</div>
<br>
<%= link_to "Add new restaurant", new_restaurant_path %>
